# Rename this file to .env and fill in the values below

# API KEY
GROQ_API_KEY= YOUR ACTUAL API KEY HERE

# The active models the entire pipeline will use
WRITER_MODEL=groq/llama-3.3-70b-versatile
RESEARCH_MODEL=groq/llama-3.3-70b-versatile
PLANNER_MODEL=groq/llama-3.1-8b-instant
SUMMARIZER_MODEL=groq/llama-3.1-8b-instant
EDITOR_MODEL=groq/llama-3.1-8b-instant